# AWS Configuration
aws_region = "us-west-1"

# Gateway VPC Configuration
gateway_vpc_cidr         = "10.0.0.0/20"
gateway_private_subnets  = ["10.0.1.0/24", "10.0.2.0/24"]
gateway_public_subnets   = ["10.0.3.0/24", "10.0.4.0/24"]

# Backend VPC Configuration
backend_vpc_cidr         = "10.1.0.0/20"
backend_private_subnets  = ["10.1.1.0/24", "10.1.2.0/24"]
backend_public_subnets   = ["10.1.3.0/24", "10.1.4.0/24"] 